{% extends "base.html" %}

{% block content %}
	<h1>questions:</h1>

	<div class="ui four column stackable grid container">
        <div v-for="talk in talks" class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">[[ talk.name ]]</div>
                    <div class="meta">[[ talk.speaker ]]</div>
                    <div class="description">[[ talk.description ]]</div>
                </div>
                <div class="extra content">
                    <i class="check icon"></i>
                    [[ talk.number_of_views ]] Views
                </div>
            </div>
        </div>
    </div>


{% endblock %}